.button {
  border: 1px solid black;
  background-color: #f1f1f1;
  padding: 2.5px 10px;
}

.list {
  display: flex;
  flex-grow: 1;
  height: calc(100vh - 35px);
}

.list__wrapper {
  display: flex;
  flex-direction: column;
  margin: 5px auto;
  width: 60%;
  min-width: 450px;
}

.list__name > h1 {
  margin: 5px 0;
  text-align: left;
}

.list__info {
  display: flex;
  column-gap: 10px;
}

.list__edit-menu {
  display: flex;
  column-gap: 10px;
  justify-content: end;
  margin-bottom: 5px;
}

.list__empty-state {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin: 2px 0;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  height: 100%;
}

.list__empty-state__message {
  flex-grow: 1;
  height: fit-content;
  text-align: center;
}
