.question {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  box-sizing: border-box;
  border-width: 2px 2px 0 2px;
  border-style: solid;
  border-color: black;
  padding: 5px 10px 0 10px;
  width: 100%;
  min-height: 75px;
}

.question__selectable {
  cursor: pointer;
}

.question__selectable:hover:not(.question--selected) {
  background: linear-gradient(to bottom, #f8f8f8 0%, #f0f0f0 100%);
}

.question:first-of-type {
  margin-top: 2px;
}

.question:last-of-type {
  margin-bottom: 5px;
  border-bottom: 2px solid black;
}

.question--selected {
  background: linear-gradient(to bottom, #eeeeee 0%, #e8e8e8 100%);
}

.question__wrapper-left {
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.question__title {
  margin-bottom: 5px;
  max-width: fit-content;
  font-size: 18px;
}

.question__title > a {
  display: block;
}

.question__title > a:link,
.question__title > a:visited {
  color: black;
}

.question__title > a:hover {
  color: #737373;
}

.question__difficulty {
  border-radius: 5px;
  text-align: center;
}

.question__difficulty--easy {
  border: 2px solid green;
  color: green;
}

.question__difficulty--medium {
  border: 2px solid orange;
  color: orange;
}

.question__difficulty--hard {
  border: 2px solid red;
  color: red;
}

.question__votes {
  display: flex;
  justify-content: space-evenly;
}

.question__submissions {
  display: flex;
  column-gap: 5px;
  justify-content: space-between;
}
