.pagination-dropdown__header,
.pagination-dropdown__item {
  border: 2px solid black;
  padding: 2px 0;
  width: 105px;
}

.pagination-dropdown__list {
  position: absolute;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 105px;
}
