::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  text-align: center;
}

button {
  padding: 0;
  background-color: white;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

button:enabled {
  cursor: pointer;
}

button:enabled:hover {
  filter: brightness(90%);
}

svg {
  display: block;
  margin: auto 3px;
}

.svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-module {
  margin: 0 auto 100px auto;
  width: 60%;
  min-width: 450px;
}

.question {
  margin: 2px 0;
  padding: 5px 10px;
  outline: 2px solid black;
}

.question-container {
  display: flex;
  justify-content: space-between;
}

.question-title {
  font-size: 18px;
  margin-bottom: 5px;
}

.difficulty {
  text-align: center;
  border-radius: 5px;
}

.difficulty-easy {
  color: green;
  border: 2px solid green;
}

.difficulty-medium {
  color: orange;
  border: 2px solid orange;
}

.difficulty-hard {
  color: red;
  border: 2px solid red;
}

.votes {
  display: flex;
  justify-content: space-evenly;
}

.submissions {
  display: flex;
  justify-content: space-between;
  column-gap: 5px;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 3px;
  column-gap: 3px;
}

.tag {
  font-size: 12.5px;
  padding: 0 3px;
  border-radius: 5px;
  border: 2px solid black;
}

.pagination-navigation {
  display: flex;
  justify-content: space-between;
}

.pagination-dropdown-list {
  width: 105px;
  position: absolute;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pagination-dropdown-header,
.pagination-dropdown-item {
  padding: 2px 0;
  width: 105px;
  border: 2px solid black;
}

.pagination-button-wrapper {
  display: flex;
  column-gap: 5px;
}

.pagination-button {
  font-size: 12px;
  padding: 0;
  border: 2px solid black;
  border-radius: 5px;
  width: 25px;
  height: 25px;
}

.pagination-button-current {
  filter: brightness(90%);
}

.basic-search-wrapper {
  height: 25px;
  min-width: 400px;
  display: flex;
  column-gap: 5px;
}

.basic-search-wrapper > .search-bar {
  width: 100%;
  min-width: 184px;
  max-width: 40%;
  height: 21px;
}

.tags-dropdown-container .search-bar {
  margin: 2px 2px 0 2px;
  height: 20px;
  width: 97%;
}

.search-bar {
  padding: 0 0 0 2px;
  border: 2px solid black;
}

.search-bar:focus {
  filter: brightness(90%);
}

.difficulty-dropdown-header,
.difficulty-dropdown-item {
  width: 150px;
  height: 25px;
  border: 2px solid black;
}

.difficulty-dropdown-list {
  width: 150px;
  position: absolute;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tags-dropdown-button {
  width: 100px;
  height: 25px;
  border: 2px solid black;
}

.tags-dropdown-container {
  width: 350px;
  height: auto;
  position: absolute;
  z-index: 1;
  background-color: white;
  border: 2px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tags-dropdown-header {
  margin-bottom: 10px;
}

.tags-dropdown-footer {
  display: flex;
  justify-content: flex-end;
  margin: 10px 5px 2px 5px;
}

.tags-dropdown-container .tag-list {
  padding: 2px;
  max-height: 256px;
  overflow-y: scroll;
}

.tags-dropdown-container .tag {
  font-size: 14px;
  background-color: white;
  cursor: pointer;
}

.tags-dropdown-container .tag.selected {
  background-color: #bef9f9;
}

.tags-dropdown-container .tag:hover {
  filter: brightness(90%);
}

.reset-tags-button {
  padding: 0 2px;
  border-radius: 5px;
}

.register,
.login {
  margin: 10vh auto 0 auto;
  padding-bottom: 20px;
  max-width: 400px;
  min-width: 200px;
  border: 2px solid black;
}

.register .header,
.login .header {
  text-align: center;
}

.register-form,
.login-form {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.register-form div,
.login-form div {
  margin-bottom: 10px;
  width: 80%;
  display: flex;
  flex-flow: column;
}

.register-form p,
.login-form p {
  margin: 0;
  font-size: 14px;
  color: red;
}

.register input,
.login input {
  padding-left: 5px;
  height: 25px;
}

.register .invalid {
  border: 1px solid red;
}

.register .invalid:focus-visible {
  border-radius: 2pt;
  box-shadow: 0 0 1pt 1pt red;
  outline: none;
}

.register-button,
.login-button {
  margin-top: 10px;
  width: 80%;
  height: 30px;
  background-color: #f1f1f1;
  border: 1px solid black;
}
